<div class="content">
    <div class="background-container"></div>
    <div class="home-container">
        <h3 class="title">フサフサヒレナガチョウチンアンコウ<br>って知ってる？</h3>
        <div class="button-container">
            <button mat-raised-button color="primary" class="circle-button"(click)="goToQuiz()">クイズ</button>
            <button class="circle-button"(click)="goFishguide()">図鑑</button>
        </div>
        <button class="long-circle-button"(click)="goTohowtoplay()">遊び方画面</button>
    </div>
    <button class="settings-button"(click)="goTologout()">設定</button>
    
</div>
