<app-toolbar></app-toolbar>

<div class="how-to-play-container">
    <div class="background-container"></div>
    <div class="how-to-play-title">
    遊び方
    </div>
    <div class="how-to-play-content">
    <div class="instruction">
        <img src="/assets/スクリーンショット 2024-05-02 14.14.13.png" class="instruction-image1">
        <div class="instruction-text">
        <p>４つのランダムな選択肢の中から一つ知りたい質問を選ぼう</p>
        </div>
    </div>
    <hr>
    <div class="instruction">
        <img src="/assets/スクリーンショット 2024-05-02 14.14.13.png"  class="instruction-image">
        <div class="instruction-text">
            <p>選択肢を絞って答えを入力しよう！正解すると図鑑登録できるよ！</p>
        </div>
    </div>
</div>
