<app-toolbar></app-toolbar>
<div class="pokedex-container" (scroll)="onScroll()">
    <div class="background-container"></div>
    <div class="pokedex-item" *ngFor="let fish of fishList; let i = index">
        <div class="divider" *ngIf="i > 0"></div> 

        <div class="content-wrapper">
                <div class="best-score-box">
                ベストスコア
                </div>
                <div class="completion-box">
                    <div class="circle">{{fish.scoreMin}}/9</div>
                </div>
                <div class="fish-name">
                    {{ fish.name }}
                </div>
                <img [src]="fish.picture" alt="{{ fish.name }}" class="fish-picture">
        </div>
    </div>
    <div class="achievement-rate">
        <p> 図鑑達成率 {{ ((this.achieved)/15)*100 | number:'1.2-2' }}%</p>
    </div>
</div>