<app-toolbar></app-toolbar>
<div class="quiz-content">
    <div class="background-container"></div>
    <div class="top-screen">
        <div class="image-container">
            <img src="/assets/kozakana_ao.png" alt="Quiz Image">
        </div>
        <div class="progress-circle">1/8</div>
    </div>
    <div class="separator"></div>
    <div class="bottom-screen">
        <div class="question-container left">ヒレに毒はありますか</div>
        <div class="question-container right">群れで行動しますか</div>
        <div class="question-container left">体調は30cm以下ですか</div>
        <div class="question-container right">川にも生息しますか</div>
        <div class="input-container">
            <input type="text" placeholder="答えを入力">
        </div>
    </div>
</div>
