<app-toolbar></app-toolbar>
<div class="quiz-content">
    <div class="background-container"></div>
    <div class="top-screen">
        <div class="image-container">
            <img [src]="resultImage" alt="Quiz Image"> 
        </div>
        <div class="progress-circle">{{ questionCount + 1 }}/{{ maxQuestions }}</div>
    </div>
    <div class="separator"></div>
    <div class="bottom-screen">
        <div *ngFor="let question of displayQuestions" class="question-container">
            <div (click)="onSelectQuestion(question)">{{ question.question }}</div>
        </div>
    </div>
    <div class="input-container">
            <input type="text" [(ngModel)]="userAnswer" placeholder="答えを入力">
        <div class="push-button">
            <button (click)="UserAnswer()">答えを確認</button>
        </div>
    </div>
    
</div>